@page "/AboutUs"
<style>
body {
  background-image: url(https://media.discordapp.net/attachments/1008200829716664421/1016036843290108024/shop_for_earth_background.png?width=1920&height=1080);
}
</style>
<div style="text-align: center">
    <div style="font-family:Helvetica">
        <h1>
            <span style="color:#05472A">ABOUT</span>
            <span style="color:#228B22">US</span>
        </h1>
    </div>
</div>
<div style="font-family:sans-serif">
    <table>
        <tr>
            <td>
                 <h4>What is Shop For Earth?</h4>
                   <h6>Shop for earth is an eco-friendly way to shop online. We find products that are produced in </h6>
                   <h6>an environmentally friendly manner, and give you those options to buy from.</h6>
                   <h4>Our Goal/Purpose</h4>
                   <h6>Issues such as pollution, global warming, ocean acidification, etc. grow worse and worse</h6>   
                   <h6>each day that passes by. Hence, we wanted to take action to assist in putting a halt to many </h6>
                   <h6>of these environmental issues our earth struggles with daily. With Shop For Earth, we want to </h6>
                   <h6>ensure people have easy access to environmentally friendly products, and we want to </h6>
                   <h6>make sure people use those same products over their less environmentally friendly </h6>
                   <h6>counterparts.</h6>
                   <h4>Why Use Shop For Earth?</h4>
                   <h6>The more we make use of Shop For Earth, or any eco-friendly products, it puts pressure on </h6>
                   <h6>factories and manufacturers who manufacture their products in ways that damage the environment </h6>
                   <h6>to be more environmentally friendly. Additionally, by using more eco-friendly products we are </h6>
                   <h6>taking steps towards treating our environment the way it deserves to be treated.</h6> 
            </td>
            <td>
                <img src="https://media.discordapp.net/attachments/1008200829716664421/1016019227347517511/shop_for_earth_logo.png?width=676&height=676"
                     width="530px"
                     height="530px"/>
            </td>
        </tr>
    </table>
</div>
<div style="text-align: center">
    <h1 style="font-family: Helvetica">Creators:</h1>
    <table align="center">
        <tr>
            <td>
                <img src="https://media.discordapp.net/attachments/423608900265181204/953301048959832094/andy.jpg"
                     width="200px"
                     height="200px"/>
                <p>⠀⠀⠀⠀⠀⠀⠀⠀Vincent Qu: Frontend/Backend⠀⠀⠀⠀⠀⠀⠀⠀</p>
            </td>
            <td>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Simple_Stick_Figure.svg/1200px-Simple_Stick_Figure.svg.png"
                     width="140px"
                     height="200px"/>
                <p>⠀⠀⠀⠀⠀⠀⠀⠀Eddie Han: Frontend/Backend⠀⠀⠀⠀⠀⠀⠀⠀</p>
            </td>
            <td>
                <img src="https://media.discordapp.net/attachments/1008200829716664421/1016012948134711337/unknown.png"
                     width="200px"
                     height="200px"/>
                <p>⠀⠀⠀⠀⠀⠀⠀⠀Owen Wang: Video/Website Background⠀⠀⠀⠀⠀⠀⠀⠀</p>
            </td>
        </tr>
    </table>
</div>
@code {
    
}