@page "/"
<style>
body {
  background-image: url(https://media.discordapp.net/attachments/1008200829716664421/1016036843290108024/shop_for_earth_background.png?width=1920&height=1080);
}
</style>
<div style="text-align: center">
    <div style="font-family:Helvetica">
        <h1>
            <span style="color:#05472A">SHOP </span>
            <span style="color:#006400">FOR </span>
            <span style="color:#228B22">EARTH</span>
        </h1>
    </div>
    <h5 style="font-family:sans-serif">A healthier way to shop online.</h5>
</div>
<div>
    <h3 style="font-family:sans-serif">Popular Products:</h3>
</div>
<head>
      <style>
         table, th, td {
            border: 2px solid black;
            border-collapse: separate;
            border-spacing: 15px 25px;
         }
      </style>
   </head>
<table>
    <tr>
        <td>
            <img src="https://cdn.shopify.com/s/files/1/1320/9925/products/REC_TP_1_3x_53d25c07-9077-4703-a1ba-6f5e06b4c87c_2400x2400.jpg?v=1610477187"
                 width="300px"
                 height="300px"/>
            <br/>
            <a href="https://bit.ly/3KIrxSG" target="_blank">100% Recycled Toilet Paper</a>
            <p>Made from 100% recycled fibers, each roll will immediately turn your bathroom into that eco-friendly paradise you’ve been longing for.</p>
        </td>
        <td>
            <img src="https://cdn.shopify.com/s/files/1/0851/3262/products/1878fb6b21f9dd4fe7b00ce083e331fcc24f13c5-2048x2560_600x800.jpg?v=1657220596"
                 width="300px"
                 height="300px"/>
            <br/>
            <a href="https://baggu.com/collections/reusable-bags" target="_blank">Baggu Reusable Bags</a>
            <p>It's time to ditch plastic bags. Baggu's reusable bags can be used for shopping and more, and have many sleek designs aswell.</p>
        </td>
        <td>
            <img src="https://img.hellofresh.com/f_auto,fl_lossy,q_auto:low,w_655/hellofresh_website/gb/cms/homepage/homepage%20to%20Contentful/US-homepage-image.png"
                 width="300px"
                 height="300px"/>
            <br/>
            <a href="https://www.hellofresh.com/" target="_blank">Hello Fresh</a>
            <p>The best delivery service for fresh food, no need to venture out to the grocery store, all eco-friendly.</p>
        </td>
        <td>
            <img src="https://m.media-amazon.com/images/W/WEBP_402378-T1/images/I/8158DFd-L5L._AC_SL1500_.jpg"
                 width="300px"
                 height="300px"/>
            <br/>
            <a href="https://www.amazon.com/dp/B0843D1FLB?ascsubtag=AwEAAAAAAAAAAcqY&linkCode=gs2&tag=thewire0f-20s" target="_blank">Reusable Straw Set</a>
            <p>Metal straws with silicone tips.</p>
        </td>
    </tr>
    <tr>
        <td>
            <img src="https://m.media-amazon.com/images/I/81mo8fJSpbL._AC_SL1500_.jpg"
                 width="300px"
                 height="300px"/>
            <br/>
            <a href="https://www.amazon.ca/Printworks-Percent-Recycled-Multipurpose-00018/dp/B007JJDTFI/ref=asc_df_B007JJDTFI/?tag=googleshopc0c-20&linkCode=df0&hvadid=292918129806&hvpos=&hvnetw=g&hvrand=10462374422525299888&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9000587&hvtargid=pla-304860422870&th=1" target="_blank">Recycled Paper</a>
            <p>Recycled paper made in the United States.</p>
        </td>
        <td>
            <img src="https://img.bhs4.com/56/8/56877fdb2055a3ac51ba1e572c81c67c6ce6d8a6_large.jpg"
                 height="300px"/>
            <br/>
            <a href="http://www.greenciles.com/" target="_blank">Environmentally Friendly Pencils</a>
            <p>Environmentally friendly pencils | Made of 100% recycled paper.</p>
        </td>
        <td>
            <img src="https://cdn.shopify.com/s/files/1/1320/9925/products/TISS_2_3x_7eb7f763-e4b2-4ca5-a5a0-3a56f1ed988c_2400x2400.jpg?v=1610469779"
                 width="300px"
                 height="300px"/>
            <br/>
            <a href="https://us.whogivesacrap.org/products/forest-friendly-tissues-12-boxes?clickref=1100lw98cDKV&utm_source=affiliate&utm_medium=partner&utm_campaign=earthfriendlytips&utm_content=https://earthfriendlytips.com/" target="_blank">Tissues</a>
            <p>Environmentally friendly tissues made from 100% bamboo.</p>
        </td>
        <td>
            <img src="https://cdn.shopify.com/s/files/1/1797/9639/products/PDP_Zero_Waste_Starter_Kit_FRONT_R1.jpg?v=1649793904"
                 width="300px"
                 height="300px"/>
            <br/>
            <a href="https://packagefreeshop.com/" target="_blank">Package Free Shop</a>
            <p>Visit this site for a ton of eco-friendly products.</p>
        </td>
    </tr>
    <tr>
        <td>
            <img src="https://cdn.shopify.com/s/files/1/1797/9639/products/pdp_pf_shampoo_bar_puey000205lav_lavender_front_r5.jpg?v=1649806767"
                 width="300px"
                 height="300px"/>
            <br/>
            <a href="https://packagefreeshop.com/products/package-free-shampoo-bar/?variant=39825674272865" target="_blank">Package Free Shampoo Bar</a>
            <p>Eco-friendly shampoo bar.</p>
        </td>
    </tr>
</table>
@code {
    
}