<a href="/">
    <img src="https://media.discordapp.net/attachments/1008200829716664421/1016019227347517511/shop_for_earth_logo.png?width=676&height=676"
         width="90px"
         height="90px">
</a>

<a href="AboutUs">| About Us</a>
<a href="SearchForItems">| Shop For The Earth |</a>

@code {
    
}